.suggestions-wrapper{
    margin: 20px;
    background-color: rgba(242,245,247,0.48);
}
.suggestions-header{
    font-size:18px;
    font-weight: 700;
    color:#636363;
    padding:10px;
    padding-top:20px;
}
.suggestions-table{
    margin:10px;
    margin-left:30px;
}
.type-label{
    font-size: 14px;
    /* font-weight:500; */
}
.type-container{
    cursor: pointer;   
    max-width:300px;
    user-select: none;
    padding:0 6px;
    font-size: 14px;    
    display: inline-flex;
    vertical-align:middle;
}
.type-container input{ 
    cursor:pointer;
    width:0;
    height:0;
    opacity: 0;
}
.checkbox-text{
    margin-left:6px;
}
.checkbox-mark{
    height:18px;
    width:18px;
    top:0;
    left:0;
    background-color: #f0efef;
    border-radius: 50%;
    border:1px solid #7f7f7f; 
}
input:checked~.checkbox-mark{
    border:none;
    background-color: #2196f3;
}
input:checked~.checkbox-mark::after{
    display: inline-block;
}
.checkbox-mark::after{
    content: '';
    top:-3px;
    left:5px;
    width:8px;
    height:8px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.suggestions-body{
    padding:10px;
}
.suggestions-title{
  font-size: 15px;
  font-weight: 600;
  color:#636363;
  margin-left:20px;
}
.card-content{
    display:grid;
    /* width:100%; */
    padding:20px 30px;
    position:relative;
    margin:20px;
    box-shadow: 0 0 0.625rem 0 rgba(64,64,64, 0.17);
    transition:box-shadow 0.2s;    
    color:#8e8e8e;    
}
.card-content:hover{
    box-shadow: 0 2px 6px  0 rgba(0,0,0, 0.16),
    0 6px 6px  1px rgba(0,0,0, 0.04);
}

.category-row{
    display:flex;
    margin-left: 30px;
    margin-top: 20px;
    /* height:80px; */
}
.category-column{
    width:30%;
}
.category-name{
    min-width: 110px;
}
.category-name span,
.table-layout-label label span{
    font-size: 14px;
    font-weight: 600;
    color:#8e8e8e;
}
.category-name span .asterisk,
.table-layout-label label .asterisk{
    color:red;
    margin-left: 2px;
    font-weight: 100;
}

.category-select{
    /* margin-left: 10px; */
    width:200px;

}
.category-select-error{
    border-bottom: 1px solid red;
    border-radius: 4px;
}
.table-layout-label{
    width:150px;
    text-align: right;

}
.table-row td{
   /* padding-top:25px; */
   padding: 25px 10px 0 0;
}
.table-row td:nth-child(2){
    width:300px;
}
.questions-table tr td input[type=text],
.questions-table tr td textarea{
    outline:none;
    border:1px solid #e0e0e0;
    border-radius: 2px;
    padding-left: 10px;
    width:700px;
    font-size:15px;
}
.questions-table tr td input[type=text]:focus,
.questions-table tr td textarea:focus{
    outline:1px solid #0a98eb;
    border:1px solid #0a98eb;
}

.input-title-class-error{
  border: 1px solid red !important
}
.input-title-class-error:focus{
   outline: none !important;
  }
.input-title-class::placeholder{
    opacity:0.5;
}

.icon-container{
    background-color: #999;
    display: inline-block;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    color:#fff;
    margin-left: 5px;
}

.icon-wrapper{
    display:flex;
    position: relative;
    text-align: center;
    padding:4px;
}
.icon-cls{
    height:15px;
    position:relative;
    display: block;
}

.action-buttons{
    float: right;
    height:45px;
    padding-right:10px;
}

.btn-cls{
    font-size: 14px;
    height:32px;
    letter-spacing: .4px;
    padding:4px 13px;
    margin:0 10px;
    border:1px solid #fff;
    border-radius:2px;
    cursor: pointer;
    min-width: 100px;
    text-transform: capitalize;
    text-align: center;
    background-color: #fff;
    color: #007cc5;
}

.primary-btn{
    background-color: #007cc5;
    border-color: #007cc5;
    color:#fff;
}

.secondary-btn{
    border-color: #007cc5;
}
.qna-container {
    padding-top:10px;
    padding-left:20px;
    display: inline-block;
}
.qna-container span{
    font-weight:600;
    font-size:15px;
    padding-right:5px;
}
.modal-alert-msg{
    margin-bottom: 30px;
    color:#8e8e8e;
    font-weight: 600;
    font-size: 14px;
}
.modal-buttons{
    float:right;
}